h1 {
    color: yellow;
    background-color: seagreen;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2013/02/18/18/36/christmas-tree-83121_1280.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

div h2 {
    color: yellow;
    background-color: seagreen;
    padding: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgreen;
    border: solid 10px gold;
    margin: 20px;
}

.listcontainer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.lists {
    width: 45%;
    background-color: lightgreen;
    border: solid 10px gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.surveycontainer {
    display: flex;
    justify-content: center;
}

.survey {
    width: 30%;
    background-color: lightgreen;
    padding: 10px;
    border: solid 10px gold;
}

img {
    border: solid 10px gold;
}